@page "/"  

<PageTitle>Home</PageTitle>  

<div style="text-align: center; margin-top: 50px;">  
   <h1 style="color: #2c3e50; font-size: 2.5em;">Convert Your ManaBox Exports to DragonShield .CSV Files</h1>  
   <img src="content/logo.png" alt="App Logo" style="width: 350px; margin: 20px auto;" />  
   <p style="font-size: 1.2em; color: #34495e; max-width: 600px; margin: 0 auto;">  
       This app aims to help you convert your ManaBox Exports to DragonShield .CSV files.  
   </p>  
   <p style="font-size: 1em; color: #7f8c8d; max-width: 600px; margin: 20px auto;">  
       While the .txt doesn't have all the information needed to do a perfect conversion, it can help you get started.  
   </p>  
   <p style="font-size: 1em; color: #7f8c8d; max-width: 600px; margin: 20px auto;">  
       Select the file you want to convert and click the submit button. Afterwards, it should download the .CSV file.  
   </p>  
   <a href="/manaboxprocessor" style="display: inline-block; margin-top: 30px; padding: 10px 20px; background-color: #3498db; color: white; text-decoration: none; border-radius: 5px; font-size: 1.2em;">  
       Try it out!  
   </a>  
   <br />
   <br />
   <Faqs/>
</div>
